/* Import Roboto font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  color: #333;
  background-color: #f9f9f9;
}

header {
  background-color: #333;
  padding: 10px 0;
}

.navbar {
  display: flex;
  justify-content: center;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.navbar a {
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
  font-weight: bold;
  transition: color 0.3s ease;
}

.navbar a:hover {
  color: #ffa500;
}

.section-title {
  font-size: 1.8em;
  color: #333;
  margin-top: 0;
  padding: 15px;
  text-align: center;
}

.section-content {
  width: 80%;
  margin: 0 auto;
  padding: 15px;
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

#home {
  text-align: center;
  padding: 20px;
  background: #ffedda;
}

#home h1 {
  font-size: 2.5em;
  color: #222;
}

#about ul {
  padding-left: 20px;
  list-style-type: disc;
}

footer {
  text-align: center;
  background-color: #333;
  color: #fff;
  padding: 10px 0;
  font-size: 0.9em;
}
